name: Deploy Laravel App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -f Dockerfile.azure -t emiliomor/laravel-app:latest .

      - name: Push Docker image
        run: docker push emiliomor/laravel-app:latest

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: laravel-devops-demo
          publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
          images: emiliomor/laravel-app:latest
